<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ staticBasePath }}/quest.bundle.css">
</head>
<body>
    {{> header/index _title=title _user=user }}
    <main class="main">
        <section class="quest">
            {{> quest_description/index
                _title=quest.name
                _date=quest.creationDate
                _likes=quest.likesCount
                _finish=quest.likesCount
                _followers=quest.likesCount
                _description=quest.description
                _author_avatar=quest.author.avatar
                _author_name=quest.author.name
                _images=quest.photos
            }}
            <form action="{{publishQuestLink quest._id}}" method="post">
                {{{csrfHiddenInput}}}
                <button>Publish</button>
            </form>
            <h2 class="quest__title">Фотографии мест</h2>
            <section class="quest__points">
                {{#each quest.photos}}
                    {{> quest_point/index _status='none' _image=(photoImageLink _id)}}
                {{/each}}
            </section>
            {{#unless quest.published}}
                <form action="/photos" method="post" enctype="multipart/form-data">
                    {{{csrfHiddenInput}}}
                    <input name="longitude" type="number">
                    <input name="latitude" type="number">
                    <input name="image" type="file">
                    <input name="questId" type="hidden" value="{{ quest._id }}">
                    <input name="description" type="text">
                    <input type="submit" value="Upload">
                </form>
            {{/unless}}
        </section>
    </main>
    {{#each quest.comments}}
        <section>
            <h4>{{author.name}}</h4>
            <p>{{text}}</p>
        </section>
    {{/each}}
    {{#if quest.published}}
        <form action="/quests/{{ quest._id }}/comment" method="post">
            {{{csrfHiddenInput}}}
            <textarea name="text" placeholder="Write you comment"></textarea>
            <input type="submit" value="Create">
        </form>
    {{/if}}
    <script src="{{ staticBasePath }}/quest.bundle.js" async="async"></script>
</body>
</html>
