<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ staticBasePath }}/quest.bundle.css">
</head>
<body>
    {{> header/index _title=title _user=user }}
    <main class="main">
        <section class="quest">
            {{> quest_description/index
                _title=quest.name
                _date=quest.creationDate
                _likes=quest.likesCount
                _finish=quest.likesCount
                _followers=quest.likesCount
                _description=quest.description
                _author_avatar=quest.author.avatar
                _author_name=quest.author.name
                _images=quest.photos
            }}
            {{#unless quest.published}}
                <section class="quest__add-card">{{> quest_add_card/index }}</section>
                <section class="quest__publish">{{> quest_publish/index }}</section>
            {{/unless}}
            <h2 class="quest__title">Фотографии мест</h2>
            <section class="quest__points">
                {{#each quest.photos}}
                    {{> quest_point/index _status='none' _image=(urlsPhotosImage _id)}}
                {{/each}}
            </section>
        </section>
    </main>

    {{#if quest.published}}
        {{#each quest.comments}}
            <section>
                <h4>{{author.name}}</h4>
                <p>{{{text}}}</p>
            </section>
        {{/each}}
        {{#if user}}
            <form action="{{urlsQuestsComment quest._id }}" method="post" class="comment__form">
                {{{csrfHiddenInput}}}
                <div class="comment__editor"></div>
                {{> button/index _text='Отправить'}}
            </form>
        {{/if}}
    {{/if}}
    <script src="{{ staticBasePath }}/quest.bundle.js" async="async"></script>
</body>
</html>
