<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ staticBasePath }}/main.bundle.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    {{> header/index }}
    <main class="main">
        <section class="app-bar">
            <div class="app-bar__left">
                {{#array '["по новизне", "по рейтингу"]'}}
                    {{> sortPanel/index __fields=this }}
                {{/array}}
            </div>
            <div class="app-bar__right">
                {{> searchForm/index inputId="search" actionLink="/search" }}
            </div>
        </section>
        <section class="quests-list">
            {{#each quests}}
                <div class="quests-list__item" data-date="{{this.creationDate}}" data-like={{this.likesCount}}>
                    {{> questPreview/index quest=this }}
                </div>
            {{/each}}
        </section>
        {{#array '["add", "help"]'}}
            {{> floatingMenuButton/index __items=this }}
        {{/array}}
    </main>
    <script src="{{ staticBasePath }}/main.bundle.js"></script>
</body>
</html>
