<div class="edit-text">
    <label {{#if _id}}for="{{ _id }}"{{/if}} class="material-icons edit-text__icon">{{ _label }}</label>
    <input {{#if _id}}id="{{ _id }}"{{/if}} name="{{ _name }}"
           type="{{ _type }}" class="edit-text__input"
           {{#if _placeholder}}placeholder="{{ _placeholder }}"{{/if}}
           {{#if _step}}step="{{ _step }}"{{/if}} {{#if _required}}required{{/if}}>
</div>
