<div class="edit-text">
    <label for="{{ _id }}" class="material-icons edit-text__icon">{{ _label }}</label>
    <input id="{{ _id }}" name="{{ _name }}"
           type="{{ _type }}" class="edit-text__input"
           placeholder="{{ _placeholder }}"
           step="{{ _step }}">
</div>
