<div class="big-text">
    <label {{#if _id}}for="{{ _id }}"{{/if}} class="material-icons big-text__icon">{{ _label }}</label>
    <textarea {{#if _id}}id="{{ _id }}"{{/if}} {{#if _placeholder}}placeholder="{{ _placeholder }}"{{/if}}
        name="{{ _name }}" class="big-text__textarea" {{#if _rows}}rows="{{ _rows }}"{{/if}}
        {{#if _required}}required{{/if}}></textarea>
</div>
