<div class="big-text">
    <label for="{{ _id }}" class="material-icons big-text__icon">{{ _label }}</label>
    <textarea id="{{ _id }}" placeholder="{{ _placeholder }}" name="{{ _name }}"
              class="big-text__textarea" rows="{{ _rows }}"></textarea>
</div>
